h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: #f7f6f4;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  animation: shine 1.5s ease-in-out infinite alternate;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 100%;
}
.line {
  width: 121px;
  height: 50px;
  border-bottom: 1px solid #f7f6f4;
  position: absolute;
  filter: blur(2px);
  margin-right: 5px;
}
@keyframes shine {
  from {
    text-shadow: 0 0 20px #649ea9;
  }
  to {
    text-shadow: 0 0 30px rgb(80, 207, 222);
  }
}
/*TODO verify the centered divs*/
