.score p {
  font-size: 17px;
}

.score {
  margin-top: 30px;
  width: 100px;
  height: 25px;
  background-color: rgba(0, 119, 254, 0);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 200px;
  width: 100%;
}
.card {
  height: 350px;
  width: 300px;
  background-color: #649ea9;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.card p {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.left-arrow {
  font-size: 30px;
  margin-right: 20px;
  height: 300px;
  width: 60px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-arrow p, .right-arrow p{
  cursor: pointer;
}
.right-arrow {
  font-size: 30px;
  margin-left: 20px;
  height: 300px;
  width: 60px;
  background-color: rgba(166, 13, 221, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  color: black;
}

.popup.left {
  top: 44%;
  left: 23%;
  transform: translateY(-50%);
}

.popup.right {
  top: 44%;
  right: 23%;
  transform: translateY(-50%);
}

.game-phrase {
  height: 80px;
  width: 100%;
  background-color: rgba(245, 245, 220, 0);
  position: absolute;
  bottom: 0;
}
.game-phrase p {
  text-align: center;
}
.line-game {
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #f7f6f4;
  position: absolute;
  bottom: 4%;
  left: 45%;
  filter: blur(2px);
  margin-right: 0px;
  animation: glow 8s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px #f7f6f48e, 0 0 15px #eceae88d, 0 0 20px #c5c2bb82,
      0 0 25px #c4c1ba9a;
  }
}
@media screen and (max-width: 1240px) {
  .popup.left {
    top: 28%;
    left: 30%;
    transform: translateY(-50%);
  }

  .popup.right {
    top: 28%;
    right: 30%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 1024px) {
  .popup.left {
    top: 25%;
    left: 15%;
    transform: translateY(-50%);
  }

  .popup.right {
    top: 25%;
    right: 15%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 768px) {
  .popup{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .popup{
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .popup{
    display: none;
  }
}
